<div class="flex-1 flex justify-between items-center bg-primary-300 from-purple-500 to-pink-500 p-8 text-white">
  <div class="flex-1 flex flex-col gap-5">
    <h1 class="text-5xl font-bold mb-4">New Album Released</h1>
    <p class="text-lg text-dark-900">Blooming Dreams" is a genre-bending album that blends elements of pop, rock, R&B, EDM, and hip-hop to create a unique sound that's both modern and timeless. The album features a mix of upbeat, energetic tracks and emotional, heartfelt ballads that showcase the group's versatility and musical growth.</p>
    <app-button type="primary">Listen Now</app-button>
  </div>
  <div class="image flex-1 bg-gray-200 rounded-lg overflow-hidden">
    <img
      ngSrc="/assets/twice.jpg"
      alt="Album Cover"
      class="w-full h-full object-cover rounded-lg"
      height="2304"
      width="4096"
    />
  </div>
</div>
